# =============================================
#   BOT TELEGRAM - YT DOWNLOADER CONFIGURATION
# =============================================

# Token dari @BotFather di Telegram
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here

# API Key dari https://genius.com/api-clients
GENIUS_API_KEY=8528554953:AAE4lu-AeLZqG9VhX02GXl9a0DNrLU0Tz8U

# Path ke file cookies.txt (export dari browser)
COOKIES_PATH=./cookies.txt

# Folder sementara untuk simpan file download
DOWNLOAD_PATH=./downloads

# Maksimal ukuran file yang bisa dikirim (bytes) - default 50MB
MAX_FILE_SIZE=52428800

# Maksimal antrian download bersamaan
MAX_CONCURRENT=2
